extends layout

block content  
  table(class='table table-striped')
    thead
      tr
        th= 'Line'
        th= 'Key'
        th= 'Value'
    tbody
      each val, index in rows
        tr
          th(scope='row')=index+1
          td= val
          td= val