extends layout

block content  
  table(class='table table-striped')
    thead
      tr
        th= 'Line'
        th= 'Key'
        th= 'Value'
    tbody
      each val, index in rows
        if val.existing
          tr
            th(scope='row')=index+1
            td= val
            td= val
        if val.added
          tr(class='table-success')
            th(scope='row')=index+1
            td= val
            td= val
        if val.removed
          tr(class='table-danger')
            th(scope='row')=index+1
            td= val
            td= val