extends layout

block content  
  table(class='table table-striped')
    thead
      tr
        th= 'Line'
        th= 'Key'
        th= 'Value' 
    tbody
      tr
        th(scope='row')=1
        td= 'Key1'
        td= 'Value1'